*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-image: linear-gradient(to right, #3ab5b0 0%, #3d99be 31%, #56317a 100%);
  font-family: 'Poppins', sans-serif;
  color: rgb(19, 58, 56);
  min-height: 100vh;
  text-align: center;
}

.signup{
  width: 600px;
  border-style: solid;
  
}

.signin{
  width: 600px;
  border-style: solid;

}

.login{
  width: 600px;
  border-style: solid;

}